/* ini untuk reset css */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    height: 100000px;
}

/* ini untuk navbar */
.navbar{
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 0;
}

.navbar ul li{
    display: inline-block;
    margin-right: 20px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar button{
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
}

/* ini untuk hero */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
}

.hero .herotext,
.hero .heroimg{
    width: 600px;
}

.hero img{
    width: 600px;
    height: 600px;
}

.hero h1{
    margin: 15px 0;
    font-size: 40px;
}

.hero span{
    color: orange;
}

.hero ul{
    margin-top: 20px;
}

.hero ul li{
    display: inline-block;
}

.hero button{
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}

.hero .tombol1{
    background-color: green;
    color: white;
}

.hero .tombol2{
    background-color: orange;
}

.hero .tombol3{
    border: 1px solid black;
    background-color: transparent;
}

/* ini untuk ribbon */

.ribbon{
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.ribbon ul li{
    display: inline-block;
    margin-right: 30px ;
    font-size: 20px;
}

/* ini untuk hero2 */

.hero2 ul li{
    display: inline-block;
    
}

.hero2{
    display: flex;
    justify-content: space-between;
    padding: 50px 5%;
}

.hero2 span{
    color: orange;
}

.hero2 .tombol4{
    background-color: green;
    color: white;
}

.hero2 .tombol5{
    background-color: orange;
}

.hero2 button{
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}

/* ini untuk card */

.card{
    display: flex;
    justify-content: center;
    padding: 20px 4%;
}

.card1{
    background-color: rgb(226, 226, 226);
    margin: 10px 20px;
    padding: 10px 10px;
    border-radius: 20px;
}

.card1 p{
    margin-top: 10px;
}

.card1 h1{
    margin-top: 10px;
}

.card1 button{
    border: none;
    margin-top: 10px;
}

.card2{
    background-color: rgb(226, 226, 226);
    margin: 10px 20px;
    padding: 10px 10px;
    border-radius: 20px;
}

.card2 p{
    margin-top: 10px;
}

.card2 h1{
    margin-top: 10px;
}

.card2 button{
    border: none;
    margin-top: 10px;
}

.card3{
    background-color: rgb(226, 226, 226);
    margin: 10px 20px;
    padding: 10px 10px;
    border-radius: 20px;
}

.card3 p{
    margin-top: 10px;
}

.card3 h1{
    margin-top: 10px;
}

.card3 button{
    border: none;
    margin-top: 10px;
}

/* untuk propil */

.profil{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    align-items: center;
    padding: 50px 5%;
    background-color:green;
}

.profiltext{
    width: 880px;
    color: white;
}

.profiltext span{
    color: orange;
}

.profiltext h1{
    margin-top: 20px;
}

.profil .nilai{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.profil .nilai h3{
    color: orange;
}

.profil .button3{
    display: flex;
    justify-content: space-between;
    padding-right: 350px;
    margin-top: 50px;
}



.profil .button3 button{
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    
}

.footer{
   text-align: center;
}

.footer span{
    color: orange;
}