/* ini untuk reset css */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    height: 10000px;
}

/* ini untuk navbar */
.navbar{
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 0;
}

.navbar ul li{
    display: inline-block;
    margin-right: 20px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar button{
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
}

.burgermenu .bars{
    background-color: white;
    height: 3px;
    width: 30px;
    margin-top: 5px;
}

.burgermenu{
    display: none;
}

/* ini untuk hero */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
}

.hero .herotext,
.hero .heroimg{
    width: 600px;
}

.hero img{
    width: 600px;
    height: 600px;
}

.hero h1{
    margin: 15px 0;
    font-size: 40px;
}

.hero span{
    color: orange;
}

.hero ul{
    margin-top: 20px;
}

.hero ul li{
    display: inline-block;
}

.hero button{
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}

.hero .tombol1{
    background-color: green;
    color: white;
}

.hero .tombol2{
    background-color: orange;
}

.hero .tombol3{
    border: 1px solid black;
    background-color: transparent;
}

/* ini untuk ribbon */

.ribbon{
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.ribbon ul li{
    display: inline-block;
    margin-right: 30px ;
    font-size: 20px;
}

/* ini untuk hero2 */

.hero2 ul li{
    display: inline-block;
    
}

.hero2{
    display: flex;
    justify-content: space-between;
    padding: 50px 5%;
}

.hero2 span{
    color: orange;
}

.hero2 .tombol4{
    background-color: green;
    color: white;
}

.hero2 .tombol5{
    background-color: orange;
}

.hero2 button{
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}

/* ini untuk card */

.cardService{
    display: flex;
    justify-content: center;
    padding: 20px 4%;
}

.card1{
    background-color: rgb(226, 226, 226);
    margin: 10px 20px;
    padding: 10px 10px;
    border-radius: 20px;
}

.card1 p{
    margin-top: 10px;
}

.card1 h1{
    margin-top: 10px;
}

.card1 button{
    border: none;
    margin-top: 10px;
}

.card2{
    background-color: rgb(226, 226, 226);
    margin: 10px 20px;
    padding: 10px 10px;
    border-radius: 20px;
}

.card2 p{
    margin-top: 10px;
}

.card2 h1{
    margin-top: 10px;
}

.card2 button{
    border: none;
    margin-top: 10px;
}

.card3{
    background-color: rgb(226, 226, 226);
    margin: 10px 20px;
    padding: 10px 10px;
    border-radius: 20px;
}

.card3 p{
    margin-top: 10px;
}

.card3 h1{
    margin-top: 10px;
}

.card3 button{
    border: none;
    margin-top: 10px;
}

/* untuk propil */

.profil{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    align-items: center;
    padding: 50px 5%;
    background-color:green;
}

.profiltext{
    width: 880px;
    color: white;
}

.profiltext span{
    color: orange;
}

.profiltext h1{
    margin-top: 20px;
}

.profil .nilai{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.profil .nilai h3{
    color: orange;
}

.profil .button3{
    display: flex;
    justify-content: space-between;
    padding-right: 350px;
    margin-top: 50px;
}



.profil .button3 button{
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    
}

.buttonWraper{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
}

.btnCV{
    background-color: orange;
    border-radius: 20px;
    padding: 5px;
}

.btnCV button{
    background-color: green;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
}

.btnCV .serviceBTN{
    border-radius: 50%;
    padding: 10px;
    color: black;
    background-color: white;
    border: none;
}

.buttonWraper h3{
    margin-left: 20px;
    color: orange;
}

.Favorite .tittle{
   text-align: center;
}

.Favorite .card{
    width: 100px;
    text-align: center;
}

.Favorite .favoriteconten{
    padding: 20px 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;

}

.Favorite .cardatas{
    background-color: #f5f5f5;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
}

.favoriteconten .cardatas p{
    font-weight: bold;
    margin-top: 10px;
}

.favoriteconten img{
    border-radius: 50px;
    width: 70px;
    height: 70px;
}

.Favorite span{
    color: orange;
}

.favoriteconten p{
    margin-top: 10px;
}

/* ini untuk favorite conten */




.Portofolio{
    display: flex;
    justify-content: space-between;
    padding: 50px 5%;
    margin-top: 100px;
}

.Portofolio ul li{
    display: inline-block;
}

.Portofolio span{
    color: orange;
    font-style: italic;
}

.Portofolio button{
     padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}

.Portofolio .tombol6{
    background-color: green;
    color: white;
}

.Portofolio .tombol7{
    background-color: orange;
    
}

/* ini untuk portfolioconten */

.Portfolioconten{
    padding: 30px 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    column-gap: 30px;
    row-gap: 40px;
    justify-content: center;
    
}

.Portfolioconten ul li{
    background-color: orange;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 50px;
    margin-top: 10px;
}

.Portfolioconten .judul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}

.Portfolioconten .card{
    width: 47%;
    border: 1px solid #f5f5f5;
    padding: 20px;
    border-radius: 20px;
    background-color: #f5f5f5;
}

.Portfolioconten img{
    width: 100%;
    border-radius: 10px;
}

.Portfolioconten .judul button{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 50px;
}

/* ini untuk education & work */

.EducationWork .Educationteks{
    text-align: center;
    margin-top: 150px;
}

.Educationteks span{
    color: orange;
    font-style: italic;
}

.EducationWork .Education{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 60px;
}

.EducationWork .CardE{
    width: 800px;
   border-radius: 30px;
    margin: 10px;
    padding: 10px 10px;
    background-color: rgb(190, 186, 186);
}

.EducationWork .teks{
    margin-top: 30px;
}

/* ini untuk footer */

.footer{
    text-align: center;
    font-style: italic;
    color: orange;
    background-color: green;
    padding: 300px 0;
}







@media( max-width:480px){
   .navigation,
   .NavBtn{
    display: none;
   }

   .burgermenu{
    display: block;
   }
   
   .hero{
    flex-wrap: wrap;
   }

   .hero h1{
    font-size: 35px;
   }

   .hero img{
    height: 300px;
    width: 300px;

   }

   .ribbon {
    text-align: center;
   }

   .hero2 .button2 .tombol4{
    font-size: 13px;
   }

   .hero2{
    align-items: center;
   }
   
   
   .hero2 .herotext2{
    width: 40%;
   }

   #serviceCard{
    flex-wrap: wrap;
   }

   .profil{
    flex-wrap: wrap;
   }

   .profil img {
    height: 350px;
    width: 350px;
   }

   .profiltext{
    width: 100%;
   }

   .favoriteconten {
    flex-wrap: wrap;
   }
   
   .favoriteconten .card{
    margin-top: 5px;
   }

   .Portofolio {
    align-items: center;
   }

   .Portofolio .portofoliotext{
    width: 40%;
   }

   .Portofolio .button3 .tombol6{
    font-size: 13px;
   }

   .Portfolioconten .card {
    flex-wrap: wrap;
    width: 100%;
   }

   .Portfolioconten .cardteks{
    margin-top: 10px;
   }

   .Portfolioconten .cardteks ul li{
    display: inline;
    align-items: center;
    font-size: 10px;
   }

   .EducationWork{
    text-align: center;
    margin-top: -100px;
   
   }
   
   .EducationWork .Education{
    flex-wrap: wrap;
    width: 100%;
    margin: 60px 0;
   }
}

@media (min-width: 768px){
  .EducationWork{
    text-align: center;
    margin-top: -100px;
  }
}